<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.customview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Customview">
        <activity
            android:name=".activity.ProvinceActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PointViewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AnimatorSetActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CircleViewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MultilineTextViewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SportViewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DashboardViewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CameraViewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AvatarViewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>